body {
  background-color: #f3f4f9;
}

.App {
  font-family: "Nunito", sans-serif;
}

.App .container {
  background-color: white;
  display: block;
  margin: 100px auto 0;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
}

@media (max-width: 560px) {
  body {
    background-color: white;
  }

  .App .container {
    background-color: white;
    display: block;
    margin: 60px auto 0;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }
}
