.Forecast .weatherForecast {
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 10px 20px 20px;
}

.Forecast .weatherForecastDay {
  background-color: rgba(76, 43, 95, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.Forecast .day {
  font-size: 16px;
  opacity: 0.8;
}

.Forecast .weatherForecastIcon {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.Forecast .weatherTemperaturesHigh {
  font-size: 15px;
}

.Forecast .weatherTemperaturesLow {
  font-size: 14px;
  opacity: 0.8;
  padding-left: 5px;
}
