.Main {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 4px rgba(249, 249, 249, 0.8);
  color: #4c2b5f;
  font-weight: 600;
}

.Main .mainCity {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 0;
}

.Main .mainCityDetails p {
  color: #4b2b5f;
  font-size: 16px;
  margin-top: 0;
  margin-left: 3px;
  font-weight: 400;
}

.Main .mainTemp {
  display: flex;
}

.Main .mainWeatherIcon {
  font-size: 70px;
}

.Main .mainWeatherDegrees {
  font-size: 80px;
}

.Main .mainWeatherUnit {
  font-size: 30px;
  position: relative;
  top: 14px;
}

.Main .humidityPercent,
.Main .windKms {
  font-weight: 800;
  color: #4b2b5f;
}

.divider {
  border: solid 3px rgba(162, 168, 211, 0.5);
}

.Search {
  padding: 20px 0;
}

.Search .citySearch,
.Search .citySubmit {
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border: solid 1px #a2a8d3;
}

.Search .citySearch {
  width: 70%;
  padding: 10px 20px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.8);
}

.Search .citySubmit {
  background-color: #a2a8d3;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.8px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.Search .citySubmit:hover {
  color: #4c2b5f;
  border: solid 1px #4c2b5f;
  cursor: pointer;
  text-shadow: none;
}

@media (max-width: 560px) {
  .Search {
    padding: 10px 0;
  }

  .Search .citySearch,
  .Search .citySubmit {
    font-size: 13px;
    line-height: 20px;
  }

  .Search .citySearch {
    width: 70%;
    padding: 8px 18px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.8);
  }

  .Search .citySubmit {
    padding: 8px 18px;
    font-weight: 400;
  }

  .Search .citySubmit:hover {
    color: #4c2b5f;
    border: solid 1px #4c2b5f;
    cursor: pointer;
    text-shadow: none;
  }

  .Main {
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
  }

  .Main .mainCity {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Main .mainCityDetails p {
    color: #4b2b5f;
    font-size: 14px;
    font-weight: 300;
  }

  .Main .humidityPercent,
  .Main .windKms {
    font-weight: 500;
  }

  .Main .mainTemp {
    display: flex;
    padding: 5px;
  }

  .Main .mainWeatherIcon {
    font-size: 20px;
    padding-top: 10px;
  }

  .Main .mainWeatherDegrees {
    font-size: 55px;
  }

  .Main .mainWeatherUnit {
    font-size: 20px;
  }
}
