.Search {
  padding: 20px 0;
}

.Search .citySearch,
.Search .citySubmit {
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border: solid 1px #a2a8d3;
}

.Search .citySearch {
  width: 70%;
  padding: 10px 20px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.8);
}

.Search .citySubmit {
  background-color: #a2a8d3;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.8px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.Search .citySubmit:hover {
  color: #4c2b5f;
  border: solid 1px #4c2b5f;
  cursor: pointer;
  text-shadow: none;
}
